@import 'tailwindcss';

@theme {
  --animate-wave: wave 25s linear infinite;

  @keyframes wave {
    0%, 100% {
      background-position: 0% 50%;
      opacity: 0.1;
    }
    50% {
      background-position: 100% 50%;
      opacity: 0.3;
    }

  }
}

body {
  overflow: hidden;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #606060;
  border-radius: .5rem;
  border: 3px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
  background-clip: content-box;
}