@import 'tailwindcss';

@theme {
  --animate-wave: wave 25s linear infinite;

  @keyframes wave {
    0%, 100% {
      background-position: 0% 50%;
      opacity: 0.1;
    }
    50% {
      background-position: 100% 50%;
      opacity: 0.3;
    }

  }
}

body {
  overflow: hidden;
}